@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #212529;
  font-family: 'Fira Sans', sans-serif;
}

.App input {
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  font-weight: 500;
}

.App table{
  /* color: #ECDBBA; */
  color: white;
}

.App img {
  width: 25px;
}

.App .empty {
  color: white;
  text-align: center;
  padding-top: 15%;
}